
.createJam-main{
  /* background-color:rgba(0, 0, 0, 0.7); */
  height: 85%;
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.createJam-main h1 {
  margin-top: 1rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center
}

.jam-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%
}

.search-city{
  display: flex;
  justify-content: center;
}

.event-input {
  width: 60%;
  height: 14%;
  background-color:rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 20px;
  margin: 1rem;
  font-size: 1.2rem;
  padding: 0.4rem
}

.event-input::placeholder {
  color: white
}

#event-description {
  height: 20rem;
}

.create-btn{
  margin: 1rem;
  border-radius: 20px;
  background-color: white;
  color: black;
  height: 3.3rem;
  width: 40%
}

.create-btn:hover{
  background-color:rgba(0, 0, 0, 0.7);
  color: white
}


.search-city input{
  margin-left: 6.3rem;
  height: 2rem
}

