.jamsitem-container {
  display: flex;
  width: 95%;
  height: 16svh;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
  border: 1px solid whitesmoke;
  padding: 1rem;
  color: whitesmoke;
}

.date {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.item-main h1 {
  margin: 0;
}

.button-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#see-btn {
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 10px;
  height: 4rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
}

#see-btn:hover {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.trash-container {
  width: 15%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-container img {
  height: 20%;
}

.trash-container img {
  cursor: pointer;
}
